node_modules
.git
.github
*.backup
test
README-CUSTOMIZATION.md
.eslintrc.json
.prettierrc.yml
.editorconfig
codecov.yml
jest.config.cjs
.pre-commit-config.yaml
.gitattributes
.gitignore
.gitmodules
Makefile
babel.config.cjs
vue.config.js
vite.config.js
tsconfig.json
tsconfig.node.json
